.ui-jqgrid .ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
        opacity: 1;
    }

.ui-jqgrid .ui-pg-selbox, .ui-pg-input {
        width: inherit;
        border: none;
        padding: 1px;
    }
.ui-jqgrid {font-size:1.2em}
.ui-jqgrid tr.jqgrow td {font-size:1.2em}

